.theme_1 {
  background-color: #E3943B;
}

.theme_1 a:any-link {
  color:darkviolet;
}

.theme_2 {
  background-color: #2FB62F;
}

.theme_3 {
  background-color: #E33B3B;
}

.theme_3 a:any-link {
  color: darkblue;
}

.theme_4 {
  background-color: #64319A;
}

.theme_4 a:any-link {
  color:lightgreen;
}

.App {
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 5px darkgray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  font-size: 30vw;
  margin: 0;
}

.answer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
}

.mentalHealth {
  padding: 1rem;
}

img {
  width: 10vw;
}

.fiveDay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fiveDayWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fiveDayWrapper h2 {
  padding: 1rem;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 10vw;
  text-align:center;
}

.recommendationWrapper {
  padding: 1rem;
  max-width: 40vw;
}

.weatherBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: inherit;
}

footer {
  padding: 1rem;
}
