.theme_1 {
  background-color: white;
  color: black;
}

.theme_2 {
  background-color: #238423;
  color: white;
}
.theme_2 a:any-link {
  color: deepskyblue;
}

.theme_3 {
  background-color: black;
  color:white;
}

.theme_3 a:any-link {
  color: violet;
}

.theme_4 {
  background-color: #64319A;
  color: white;
}

.theme_4 a:any-link {
  color:springgreen;
}

.App {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  font-size: 30vw;
  margin: 0;
}

.App button {
  padding: 1vw;
}

.answer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.mentalHealth {
  padding: 1rem;
}

.fiveDay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fiveDayWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fiveDayWrapper h2 {
  padding: 1rem;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 10vw;
  text-align:center;
}

.recommendation {
  max-width: 18rem;
}

.weatherBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  min-width: 18rem;
}

ul {
  list-style: none;
  padding: inherit;
}

footer {
  padding: 1rem;
}
